<h1><%= @power.name %></h1>
<p><%= @power.description %> </p>
<br>
<p>Heroine's with this power:</p>
<ul>
  <% @power.heroines.each do |heroine| %>
    <li><%= link_to heroine.super_name, heroine %></li>
    <% end %>
</ul>
