

<h1><label>Power:</label><%=@haroine.name%></h1>
<h1><label>Description:</label><%=@haroine.description%></h1>




<p><%= link_to '<button type = "button">Create New</button>'.html_safe, new_power_path %>
</p>

<p><%= link_to '<button type = "button">Go back to the list </button>'.html_safe, powers_path %>
</p>
