<h2>All Heroines</h2>

  <% @heroines.each do |heroine| %>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    <br>
    <br>
  <% end %>


<h2> <%= link_to "Create a New Heroine!", new_heroine_path%></h2>
