<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>

<!-- bonus
was tring to create a collection_select form for user to select power
form would then display heroines names for selected power

added this feature to my powers/show page, but wasn't able to add to heroines/index yet

<%# render "/powers/power_search_form" %>

-->
