<h1>Check out this Heroine!</h1>

<label>Name: </label><%= @heroine.name %><br>
<label>Super Name: </label><%= @heroine.super_name %><br>
<label>Power: </label><%= link_to @heroine.power.name, power_path(@heroine.power) %><br>